[submodule "templates/el1000"]
	path = templates/el1000
	url = git@github.com:LAAC-LSCP/el1000-template.git
	datalad-url = git@github.com:LAAC-LSCP/el1000-template.git
[submodule "templates/laac1"]
	path = templates/laac1
	url = git@github.com:LAAC-LSCP/laac1-template.git
	datalad-id = 9857761d-9fc3-4884-9a2f-7e28b4682f26
	datalad-url = git@github.com:LAAC-LSCP/laac1-template.git
[submodule "templates/laac2"]
	path = templates/laac2
	url = git@github.com:LAAC-LSCP/laac2-template.git
